* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#container {
  min-height: 400px;
  width: 80%;
  margin: auto;
}
header {
  position: relative;
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center;
}
header #text_head {
  position: absolute;
  top: -20%;
  left: 20px;
  line-height: 30px;
  transition: all 2s;
  animation : change 2s;
  h1 {
    font-weight: bold;
    color: #f4f3f9;
  }
  p {
    color: #f4f3f9;
  }
}
article {
  background-color: #e4e4e4;
  background-size: cover;
  .text {
    padding: 30px 20px;
    line-height: 30px;
    h2 {
      color: #24231f;
    }
    p {
      color: #a8a8aa;
      font-weight: bold;
    }
  }
  .left {
    width: 70%;
    float: left;
    padding-left: 20px;
    img {
      margin: 0px 20px 20px 0px;
      width: 45%;
      height: 45%;
    }
  }
  .right {
    width: 30%;
    float: left;
    padding-right: 20px;
    margin-left: -70px;
    img {
      width: 370px;
      height: 370px;    
    }
  }
  &::after {
    content: "";
    clear: both;
    display: block;
  }
}
footer {
  background-color: #f1f1f1;
  height: 200px;
  padding-left: 20px;
  .item {
    display: inline-block;
    width: 30%;
    margin: 10px 10px 10px 0px;
    line-height: 30px;
    a {
      color: blue;
    }
  }
}
@keyframes change{
    from{ opacity: 0; transform: scale(0.5);}
    to { opacity: 1; transform : scale(1); }
}