<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
    />
    <title>Login</title>
  </head>
  <style>
      body{
          background-size: cover;
          background-image: url("https://c.stocksy.com/a/7OB900/z9/2188731.jpg?1550798857");
      }
  </style>
  <body>
    <div class="container mt-4">
      <div class="row">
        <div class="card col-sm-5 mx-auto mt-4">
          <article class="card-body">
            <a href="/auth/register" class="float-right btn btn-outline-primary">Sign up</a>
            <h4 class="card-title mb-4 mt-1">Sign in</h4>
            <p>
              <a href="" class="btn btn-block btn-outline-danger">
                <i class="fab fa-google"></i> Login via Google</a
              >
              <a href="" class="btn btn-block btn-outline-primary">
                <i class="fab fa-facebook-f"></i> Login via facebook</a
              >
            </p>
            <hr />
            <form>
              <div class="form-group">
                <input
                  name="email"
                  class="form-control"
                  placeholder="Email or login"
                  type="email"
                />
              </div>

              <div class="form-group">
                <input
                name="password"
                  class="form-control"
                  placeholder="******"
                  type="password"
                />
              </div>
              <div class="form-group">
                <p id="login_false" class="text-center text-danger"> ABC</p>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <button id="login" type="submit" class="btn btn-primary btn-block">
                      Login
                    </button>
                  </div>
                </div>
                <div class="col-md-6 text-right">
                  <a class="small" href="#">Forgot password?</a>
                </div>
              </div>
            </form>
          </article>
        </div>
      </div>
    </div>
  </body>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/javascripts/login.js"></script>
</html>
